body {
    background: #9313ff;
    display: flex;
    /*justify-content: center;*/
    align-items: flex-start;
    /*flex-direction: column;*/
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

table {
    background-color: #ffffff;
    border-radius: 10px;
    /*width: 50%;*/
    margin: 1% 0.5% 1%;
    padding: 0.5%;
}

td, th {
    border: 2px solid #646464;
    border-radius: 5px;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
    font-size: 1.5em;
}

form {
    margin: 0 !important;
    padding: 0;
}

button {
    outline: none;
    text-align: center;
    text-decoration: none;
}

.courseButton {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 1em;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.addButton {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
}

.courseButton:hover {
    background-color: white;
    color: black;
}

.deleteButton {
    background-color: #c13434;
    border: 2px solid #c13434;
    color: white;
}

.editButton {
    background-color: #ff8417;
    border: 2px solid #ff8417;
    font-size: 1em;
    color: white;
}

.logOutForm
{
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-left: auto !important;
    display: inline-block;
    width: 6em;
}

.logOutButton {
    background-color: #ee0f0f;
    border: 2px solid #ee0f0f;
    border-radius: 5px;
    color: white;
    padding: 5%;
    height: auto;
    font-size: 1em;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.logOutButton:hover {
    background-color: white;
    color: black;
}